@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	margin: 0;
	padding: 0;

}

body{
	background-image: url(../pic1.jpg);
	background-size: cover;
	height: 100vh;
}

.navbar{
	height: 80px;
	width: 100%;
	background: rgba(0,0,0,0.4);

}

.navbar ul{
	float: right;
	margin-right: 20px;
}

.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}

.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 6px 13px;
	font-family: 'Roboto', sans-serif;
	transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
	background: red;
	border-radius: 2px;
}

.wrapper .center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}

img{
	object-fit: cover;
  	width: 400px;
  	height: 350px;
  	border-width: 8px;
  	border-style: solid;
  	border-color: gray;
  	display: block; margin: auto;
}

p{
	font-family: 'Yanone+Kaffeesatz', cursive;
  	color: black;
  	text-align: center;
  	position: relative;
  	top: 20px;
  	font-size: 23px;
}